/* CSS Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background:#dcdcdc;
}

#nav{
    position:fixed;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    z-index: 1;
}

#nl{
    display: block;
    position: absolute;    
    left: 3%;
    width: 90%;
    height: 9%;
}

#nl li{
    display: inline-block;
    margin-top: 1.5%;
    margin-left:7.5%;
}

#nl li:first-child{
    padding-left: 1%;
    padding-right: 3%;
    margin-left: 0%;

}

.na{
    display: inline-block;
    margin-left: 3%;
    text-decoration: none;
    color: #FF6D4B;
    font-size: 1.5em;
    text-align: center;
    transition: all 1s;
	border: 0.2vmax solid #FF6D4B;
	border-top-left-radius: 20%;
	border-bottom-right-radius: 20%;
	padding: 1%;
	transition: all 2s ease;
}

.na:hover{
	background-color: #FF6D4B;
	border: 0.2vmax solid transparent;
	color:#ffffff
}

#home{
	display: inline-block;
	text-decoration: none;
	color: #FF6D4B;
	font-size: 2.5vmax;
	padding: 0.5%;
	margin-right: 1%;
}

#fdiv{
	position: absolute;
	top: 120px;
	background: linear-gradient(to bottom right,#FF7F6E,#A076FA);
	width: 100%;
	height: 700px;
}

.slider{
	position: absolute;
	top: 10%;
	left: 80%;
	width: 17.7%;
	height: 85%;
	margin: auto;
	overflow: hidden;
}

.slider-content{
	position: absolute;
	width: 500%;
	left:0;
	-webkit-animation: slide 30s infinite ;
	-o-animation: slide 30s infinite ;
	animation: slide 30s infinite ;
}

.slider-content:hover{
	animation-play-state: paused;
}

.slider-item{
	width: 20%;
	float: left;
}

.slider-ii{
	object-fit: cover;
}

@keyframes slide{
	0%{
		transform: translateX(0px);
	}
	10%{
		transform: translateX(-0%);
	}
	20%{
		transform: translateX(-20%);
	}
	30%{
		transform: translateX(-20%);
	}
	40%{
		transform: translateX(-40);
	}
	50%{
		transform: translateX(-40%);
	}
	60%{
		transform: translateX(-60%);
	}
	70%{
		transform: translateX(-60%);
	}
	80%{
		transform: translateX(-80%);
	}
	90%{
		transform: translateX(-80%);
	}
	99%{
		transform: translateX(0%);
	}
}

.fd-header{
	font-size: 2.5em;
	margin-left: 5%;
	text-align: center;
	padding: 1%;
	color:#ffffff;
	width: 90%;

}

.fd-item{
	font-size: 1.5em;
	width:80%;
	padding: 1%;
	margin-bottom: 2%;
	color:#ffffff;
}

#slots{
	position: absolute;
	top: 3000px;
	left: 12.5%;
	width: 75%;
	height: 500px;
}

#slots2{
	position: absolute;
	top: 3700px;
	left: 12.5%;
	width: 75%;
	height: 500px;
}

#slots3{
	position: absolute;
	top: 4400px;
	left: 12.5%;
	width: 75%;
	height: 500px;
}

.fid{
	width: 30%;
	height: 100%;
	background:linear-gradient(to top left,#A076FA,#2A8BE0);
	box-shadow: 0.2vmax 0.2vmax 0.5vmax #ffffff;
	float: left;
	margin-right: 5%;
	transition: all 2s;
}

.fid:hover{
	box-shadow: 0.3vmax 0.3vmax 0.5vmax #000000;
}

.fid:last-child{
	margin-right: 0%;
}

.fidh{
	position:  relative;
	top:60%;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-size: 1.3em;
	padding: 2%;
	color:#ffffff;
	border-top: 0.2vmax solid white;
}

.fidi{
	position: relative;
	top:60%;
	left:2%;
	font-size: 1.2em;
	padding: 4%;
	color:#ffffff;
}

#last-div{
	position: absolute;
	display: block;
	top:6500px;
	width: 100%;
	height: 500px;
	background-color: black;
}

.ld-item{
	width:30%;
	height: 100%;
	font-family: coruier;
	padding:2%;
	float: left;

}

.ld-header{
	color:#ffffff;
	padding: 1%;
	text-align: center;
}

.ld-p{
	color:#ffffff;
	font-size:1.15em;
}

#bigdiv{
	position: absolute;
	width: 80%;
	height: 700px;
	top:1500px;
	left:10%;
	background: linear-gradient(to bottom right,#A076FA,#29F53A);
	
}

.bdh{
	color:#ffffff;
	text-align: center;
	font-size: 1.7em;
	padding: 2%;
}

.bdi{
	width:50%;
	height: 100%;
	float: left;
}

.bdi:first-child{
	border-right: 0.1vmax solid #ffffff;
}

.bdi ul {
	display: block;
	position: relative;
	left: 3%;
}

.bdi ul li{
	display: block;
	margin:1%;
}

.bdc{
    text-decoration:none;
	display: inline-block;
	padding: 2%;
	width: 90%;
    color: #FFFFFF;
    font-size: 1.2em;
    transition: all 1s;
	border-bottom: 0.2vmax solid white;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	border-top: 0.1vmax solid white;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	transition: all 2s ease;
	margin-bottom: 1%;
}

.bdc:hover{
	color:#E0B230;
	border-color: #E0B230;
}

#rek1{
	position: absolute;
	top:1000px;
	left:12.5%;
	width:75%;
	height: 25%;
	border:2px solid black;
	background-image:url("indir.png");
    background-size:contain;
}

#rek2{
	position: absolute;
	top:2500px;
	left:12.5%;
	width:75%;
	height: 25%;
	border:2px solid black;
	background-image:url("indir.png");
    background-size:contain;
}

#rek3{
	position: absolute;
	top:5200px;
	left:12.5%;
	width:75%;
	height: 25%;
	border:2px solid black;
	background-image:url("indir.png");
    background-size:contain;
}

#yorumlar{
	position: absolute;
	top: 5800px;
	left: 10%;
	width: 80%;
	height: 300px;
	background: linear-gradient(#E0B230,#FF6D4B)
}

#slider{
	position: inherit;
	width:80%;
	height: 50%;
	left:10%;
	top:15%;
	margin: auto;
	overflow: hidden;
}

#slider-content{
	position: absolute;
	width: 500%;
	left:0;
	-webkit-animation: slide2 60s infinite ;
	-o-animation: slide2 60s infinite ;
	animation: slide2 60s infinite ;
}

#slider-content:hover{
	animation-play-state: paused;
}

.slider2-item{
	width: 20%;
	float: left;
}

.slider2-header{
	font-size: 1.7em;
	padding: 0.5%;
	color: #FFFFFF
}

.slider2-p{
	font-size: 1.5em;
	padding: 1%;
	color: #FFFFFF
}

@keyframes slide2{
	0%{
		transform: translateX(0%);
	}
	10%{
		transform: translateX(0%);
	}
	20%{
		transform: translateX(-20%);
	}
	30%{
		transform: translateX(-20%);
	}
	40%{
		transform: translateX(-40%);
	}
	50%{
		transform: translateX(-40%);
	}
	60%{
		transform: translateX(-60%);
	}
	70%{
		transform: translateX(-60%);
	}
	80%{
		transform: translateX(-80%);
	}
	90%{
		transform: translateX(-80%);
	}
	100%{
		transform: translateX(0%);
	}
}

@media only screen and (max-width: 768px) and (min-width: 240px)  {
	.slider2-p{
		background-color: #000000;
	}


}

@media only screen and (max-width: 910px) and (min-width: 768px){
	.fd-header:first-child{
		border-bottom: 2px solid #ffffff;
		margin-bottom: 10%;
	}
	#fdiv{
		height: 500px;
	}
	.na{
		font-size: 1.2em;
	}
	.fidi{
		font-size: 0.75em;
	}
	#nl li{
		margin-left: 1.5%;
		margin-top: 3%;
	}
	#home{
		font-size: 3em;
		margin-top: 4%;
	}
	.slider{
		visibility: hidden;
	}

	#bigdiv{
		height: 450px;
		top: 1200px;
	}

	#slots{
		top: 2200px;
		height: 50%;
	}
	
	#slots2{
		top: 2500px;
		height: 50%;
	}
	
	#slots3{
		top: 2800px;
		height: 50%;
	}

	#rek1{
		top: 800px;	
	}

	#rek2{
		top: 1800px;
	}

	#rek3{
		top: 3150px;
	}
	#yorumlar{
		top: 3500px;
	}

	#last-div{
		top:4000px;
	}

	.ld-p{
		font-size: 0.8em;
		margin-top: 10%;
	}

	.fd-item{
		margin-bottom:10% ;
		margin-left: 10%;
		font-size: 1.3em;
	}
	.fd-header{
		font-size: 1.6em;
	}
	.fd-header:first-child{
		margin-left: 5%;
	}
	.bdc{
		margin-bottom: 3%;
		font-size: 1em;
		border-top-width: 1px;
		border-bottom-width: 2px;
	}
	.slider2-header{
		font-size: 1.2em;
		margin-bottom: 5%;
	}
	.slider2-p{
		font-size: 1em;
	}
	.fid{
		height: 200px;
	}
	.fidh{
		top: 0%;
		border-top: 0px solid transparent;
		border-bottom:2px solid #ffffff;
	}
	.fidi{
		top: 10%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 910px) {
	.fd-header:first-child{
		border-bottom: 2px solid #ffffff;
		margin-bottom: 10%;
	}
	#home{
		font-size: 3em;
	}
	#fdiv{
		height: 500px;
	}
	.fd-item{
		margin-bottom:10% ;
		margin-left: 10%;
		font-size: 1.3em;
	}
	.fd-header{
		font-size: 1.6em;
	}
	.fd-header:first-child{
		margin-left: 5%;
	}
	#nl li{
		margin-left: 4%;
		margin-top: 2.5%;
	}

	.slider{
		visibility: hidden;
	}

	#bigdiv{
		height: 450px;
		top: 1200px;
	}

	#slots{
		top: 2200px;
		height: 50%;
	}
	
	#slots2{
		top: 2500px;
		height: 50%;
	}
	
	#slots3{
		top: 2800px;
		height: 50%;
	}

	#rek1{
		top: 800px;
	}

	#rek2{
		top: 1800px;
	}

	#rek3{
		top: 3200px;
	}

	.fidi{
		font-size: 0.8em;
	}

	#yorumlar{
		top: 3600px;
	}

	#last-div{
		top:4200px;
	}

	.ld-p{
		font-size: 0.9em;
	}

	.fd-item{
		margin-bottom:10% ;
		margin-left: 10%;
	}

	.fd-header:first-child{
		margin-left: 5%;
	}
	.slider2-p{
		font-size: 1.2em;
	}
	.slider2-header{
		font-size: 1.4em;
		margin-bottom: 4%;
	}
	.bdc{
		margin-bottom: 2%;
		font-size: 1em;
		border-top-width: 1px;
		border-bottom-width: 2px;
	}
	.na{
		font-size: 1.2em;
	}
	.fid{
		height: 200px;
	}
	.fidh{
		top: 0%;
		border-top: 0px solid transparent;
		border-bottom:2px solid #ffffff;
	}
	.fidi{
		top: 10%;
	}
}

@media only screen and (max-width: 1224px) and (min-width: 1024px) {
	.fd-header:first-child{
		border-bottom: 2px solid #ffffff;
		margin-bottom: 10%;
	}
	#home{
		font-size: 3em;
	}
	#fdiv{
		height: 500px;
	}
	.fd-item{
		margin-bottom:10% ;
		margin-left: 10%;
		font-size: 1.3em;
	}
	.fd-header{
		font-size: 1.6em;
	}
	.fd-header:first-child{
		margin-left: 5%;
	}
	#nl li{
		margin-left: 4%;
		margin-top: 2.5%;
	}

	.slider{
		visibility: hidden;
	}

	#bigdiv{
		height: 450px;
		top: 1200px;
	}

	#slots{
		top: 2200px;
		height: 50%;
	}
	
	#slots2{
		top: 2500px;
		height: 50%;
	}
	
	#slots3{
		top: 2800px;
		height: 50%;
	}

	#rek1{
		top: 800px;
	}

	#rek2{
		top: 1800px;
	}

	#rek3{
		top: 3200px;
	}

	.fidi{
		font-size: 0.8em;
	}

	#yorumlar{
		top: 3600px;
	}

	#last-div{
		top:4200px;
	}

	.ld-p{
		font-size: 0.9em;
	}

	.fd-item{
		margin-bottom:10% ;
		margin-left: 10%;
	}

	.fd-header:first-child{
		margin-left: 5%;
	}
	.slider2-p{
		font-size: 1.2em;
	}
	.slider2-header{
		font-size: 1.4em;
		margin-bottom: 4%;
	}
	.bdc{
		margin-bottom: 1%;
		font-size: 1em;
		border-top-width: 1px;
		border-bottom-width: 2px;
	}
	.na{
		font-size: 1.2em;
	}
	.fid{
		height: 200px;
	}
	.fidh{
		top: 0%;
		border-top: 0px solid transparent;
		border-bottom:2px solid #ffffff;
	}
	.fidi{
		top: 10%;
	}
}

@media only screen and (max-width: 1624px) and (min-width: 1224px) {
	#home{
		font-size: 3em;
	}
	#fdiv{
		height: 500px;
	}
	.fd-item{
		margin-bottom:10% ;
		margin-left: 10%;
		font-size: 1.3em;
	}
	.fd-header{
		font-size: 1.6em;
	}
	.fd-header:first-child{
		margin-left: 5%;
	}
	#nl li{
		margin-left: 5%;
		margin-top: 2.5%;
	}

	#bigdiv{
		height: 600px;
		top: 1200px;
	}

	#slots{
		top: 2200px;
		height: 50%;
	}
	
	#slots2{
		top: 2700px;
		height: 50%;
	}
	
	#slots3{
		top: 3200px;
		height: 50%;
	}

	#rek1{
		top: 800px;
	}

	#rek2{
		top: 1900px;
	}

	#rek3{
		top: 3800px;
	}

	.fidi{
		font-size: 0.8em;
	}

	#yorumlar{
		top: 4200px;
	}

	#last-div{
		top:4800px;
	}

	.ld-p{
		font-size: 1.05em;
	}

	.fd-item{
		margin-bottom:5% ;
		margin-left: 5%;
		width: 70%;
	}

	.fd-header:first-child{
		margin-left: 5%;
	}
	.slider2-p{
		font-size: 1.2em;
	}
	.slider2-header{
		font-size: 1.4em;
		margin-bottom: 4%;
	}
	.bdc{
		margin-bottom: 1%;
		font-size: 1em;
		border-top-width: 1px;
		border-bottom-width: 2px;
		}
	.bdc:first-child{
		margin-top: 1%;
	}
	.na{
		font-size: 1.4em;
	}
}












